

.contrast-score {
    max-width: 45%;
    color: black;
    background-color: bisque;
    font-weight: 700;
}

.contrast-score-notOk {
    max-width: 55%;
    font-size: 1.3rem;
    color: rgb(247, 240, 240);
    background-color: red;
    font-weight: 700; 
}

.contrast-score-couldBetter {
    max-width: 50%;
    font-size: 1.15rem;
    color: rgb(247, 240, 240);
    background-color: rgb(9, 65, 9);
    font-weight: 700; 
}