body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  padding: 10px;
}

.color-container {
  max-width: 95%;
  display: flex;
  flex-direction: column;
}

.color-empty {
  max-width: 95%;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(203, 22, 22);
  text-align: center;
  background-color: aquamarine;
}